absl-py==0.8.1
appnope==0.1.0
astor==0.8.0
astroid==2.4.0
attrs==19.1.0
awscli==1.16.298
backcall==0.1.0
bleach==3.1.4
certifi==2020.4.5.1
Click==7.0
colorama==0.4.1
cycler==0.10.0
decorator==4.4.0
defusedxml==0.6.0
docutils==0.15.2
entrypoints==0.3
Flask==1.1.1
Flask-SQLAlchemy==2.4.0
gast==0.2.2
google-pasta==0.1.7
grpcio==1.24.1
h5py==2.10.0
importlib-metadata==1.6.0
ipykernel==5.1.2
ipysheet==0.4.3
ipython==7.8.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jedi==0.15.1
Jinja2==2.10.1
jmespath==0.9.4
jsonschema==3.0.2
jupyter==1.0.0
jupyter-client==5.3.3
jupyter-console==6.0.0
jupyter-core==4.5.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
mistune==0.8.4
more-itertools==8.2.0
mpld3==0.3
nbconvert==5.6.0
nbformat==4.4.0
notebook==6.0.1
numpy==1.17.2
opt-einsum==3.1.0
packaging==20.3
pandas==0.25.1
pandocfilters==1.4.2
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
plotly==4.1.0
pluggy==0.13.1
prometheus-client==0.7.1
prompt-toolkit==2.0.9
protobuf==3.10.0
ptyprocess==0.6.0
py==1.8.1
Pygments==2.4.2
pylint==2.5.0
pyparsing==2.4.2
pyrsistent==0.15.4
pytest==5.4.1
python-dateutil==2.8.0
pytz==2019.2
PyYAML==5.1.2
pyzmq==18.1.0
qtconsole==4.5.5
retrying==1.3.3
-e git+https://github.com/MattD18/rubix-cube.git@a1f5aa55977ce778532b84de7011ffa748b3306d#egg=rubiks_cube
Send2Trash==1.5.0
six==1.14.0
SQLAlchemy==1.3.8
tensorboard==2.0.0
tensorflow==2.0.0
tensorflow-estimator==2.0.1
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
toml==0.10.0
tornado==6.0.3
traitlets==4.3.2
typed-ast==1.4.1
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.16.0
widgetsnbextension==3.5.1
wrapt==1.11.2
zipp==3.1.0
